{% extends "base.html.twig" %}
{% block title %}
    Listes
{% endblock %}
{% block body %}
    <div class="row text-center mt-5">
        <h1>
            Liste défis
        </h1>
    </div>
    {% include "helper/_flash.html.twig" %}
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom défi</th>
                    <th scope="col">Nombre participant</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Créateur</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for challenge in challenges %}                        
                        <tr>
                            <td scope="row">{{challenge.id}}</td>
                            <td scope="row">{{challenge.name}}</td>
                            <td scope="row">{{challenge.nbParticipant}}</td>
                            <td scope="row">{{challenge.startDate|date("d/m/Y h:i")}}</td>
                            <td scope="row">{{challenge.owner}}</td>
                            <td>
                                <a class="btn btn-info" href="{{ path('app_challenge_detail',{'id':challenge.id}) }}"> <i class="fa-solid fa-eye"></i> </a>
                                <a class="btn btn-warning" href="{{ path('app_challenge_update',{'id':challenge.id}) }}"> <i class="fa-solid fa-pen-to-square"></i> </a>
                                <form style="display: inline;" action="{{ path("app_challenge_delete") }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce défi ?')">
                                    <input type="hidden" name="id" value="{{challenge.id}}" >
                                    <button class="btn btn-danger" type="submit"  > <i class="fa-solid fa-trash"></i> </button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                    <td colspan="6" class="text-center" >
                        Pas défi
                    </td>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}